* {
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}

.marginbody {
    background-color: black;
}

.section-1{
width: 100vw;
height: 60vh;
background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/127/671/original/pexels-tdcat-437037.jpg?1716931840");   
background-position-x: center;
background-position-y: center;
background-attachment: fixed;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

nav {
    position:fixed;
    top: 0;
    width: 100vw;
}

.carrie {
    border-radius: 50%;
   width: 200px;
   height: 200px;
    display: block;
    margin: 35px auto 35px auto;
    vertical-align: middle;
    object-fit: cover;
}

.main_title1{
    font-size: 65px;
    color: #219ebc;
}

.main_title2 {
    font-size: 35px;
    color: #219ebc;
}

.gallery-img {
    position: relative; 
    z-index: 1;
}

.overlay {
    color: #035165;
    position: absolute; 
    top: 50%;
    left: 25%;
    z-index: 2;
    font-size: 15px;
    background: #edede99c;
    padding: 5px;
    width: 50%;
    text-align: center;
}

.hidden {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
}

.section-2 {
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding: 50px;
    font-size: 18px;
}

h3.column1 {
    font-size: 40px;
    color: #219ebc;
}

p.column1 {
    color: #219ebc;
    flex-basis: 300px;
   text-align: center;
    display:inline-block;
}

.text, .text-info {
    color: #219ebc;
}

.center {
    text-align: center;
}

.span {
    display: block;
    width: 100%;
  
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

p.column2 {
    color: #219ebc;
    flex-basis: 300px;

    text-align: center;
}

.section-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90vh;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

/*Set Background image and overlay*/
.pollution-section{
    position: relative;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/233/original/pexels-pixabay-459728.jpg?1717547445");
    height: 75vh;   
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pollution-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay with 50% opacity */
    z-index: 1;
}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    z-index: 2;
   display: flex;
}
.circle1, .circle2, .circle3, .circle4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.circles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60%;
}


.smalldescript {
    font-size: 10px;
}

.section {
    clear: both;
    opacity: 1;
    transition: opacity 1.5s ease-in;
}

.hideUntilViewed {
    opacity: 0;
}

input[type="text"], textarea{
    background-color: black;
}
input[type="text"]:focus,
textarea:focus {
    background-color: black;
    color: aliceblue; /* Ensures text is visible on black background */
}

/* Style for placeholder text */
input[type="text"]::placeholder,
textarea::placeholder {
    color: gray; /* Change this to your desired placeholder color */
}

/* Ensure the placeholder color remains the same on focus */
input[type="text"]:focus::placeholder,
textarea:focus::placeholder {
    color: gray; /* Change this to your desired placeholder color */
}

